
<div class = "container">
<div class = "col-md-4 col-md-offset-4">
<% @h.each do |contact| %>
  <% if contact.user == current_user %>
    <h2><a href=<%= "/contacts/#{contact.id}" %>>
    <%= "#{contact.full_name}" %>
    </a></h2>
    <h4>EMAIL: <%= "#{contact.email}" %></h4>
    <h4>PHONE NUMBER: <%= "#{contact.from_japan}"%></h4><br>
  <% end %>
<% end %>
</div>
</div>

