nav  {
  height:150px;
  background-color:black;
}

ul.navbar{
  list-style-type:none;
  display:inline-block;
  float:right;
  li{
    display:inline-block;
    font-size:15px;
    padding-left:10px;
    padding-right:10px;
  }
}

h1.navbar{
  float:left;
  color:white;
  display:inline-block;
  margin-top:30px;
  margin-left:15px;
}

.navbar{
  margin-top:20px;
  padding-left:10px;
  padding-right:10px;
  display:inline-block;
}